body {
    background-color: rgb(226, 199, 199);
    background-size: cover;
    height: 100vh;
}
 #meals{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px;
    grid-gap: 20px;
} 
.meal-decor img{
    width:100%;

}
.meal-decor{
    width: 240px;
    border: 1px solid green;
    border-radius: 20px;
    padding: 20px;
    background-color:cornsilk;
    text-align: center;

}
.meal-name{
font-size: 30px;
margin-top: 10px;

}
.meal-decor2{
    display: block ;
    border: 2px solid pink;
    width: 400px;
    border: 1px solid green;
    border-radius: 20px;
    padding: 20px;
    background-color:cornsilk;
    text-align: center;}
    
.meal-decor2 img{
   width: 100%;
   margin-bottom: 5px;
}
#meal-detail{
    display: block;
}
.para{
    text-align: left;
    font-weight: 100;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}